<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/cdn/bootstrap_css.ejs') %>
		<title>Document</title>
	</head>
	<body>
		<%- include('partials/navbar.ejs') %>
		<h1>Home Page!</h1>

		<%- include('partials/firebase/firebase_header') %>
		<script src="js/firebase_auth.js"></script>
		<%- include('partials/cdn/bootstrap_js.ejs') %>
	</body>
</html>
